@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
*{
    box-sizing: border-box;
}
html{
    height: 100%
}
body {
	margin: 0;
    font-family: "Commissioner", sans-serif;
	background: linear-gradient(#fff,#a7a7a7);
    height: 100%
}
.wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.wrapper .content{
    position: relative;
    background: url('../anim/bg-box.png');
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 400px;
    overflow: hidden;
}
.title{
    color: #f0ff00;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding: 20px 0;
    background: rgba(0,0,0,0.4);
    animation-name: title;
    animation-duration: 10s;
    position: absolute;
    width: 100%;
    top: -89px;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes title{
    0%{top: -89px}
    5% {top: 0px; }
    40%{background: rgba(0,0,0,0.4); color: #f0ff00;}
    50%{ background: #ff4e9c; color: white;}
    95%{top: 0; background: #ff4e9c; color: white;}
    100%{top:-89px}
}
.shoe1{
    width: 500px;
    height: 200px;
    bottom: 50px;
    left: -500px;
    position: absolute;
    background: url('../anim/nike1.png');
    animation-name: shoe1;
    animation-duration: 5s;
    animation-delay: 0s;
}
@keyframes shoe1{
    0%{left: -500px}
    20%, 50%{left: 50px;}
    100% {left: 600px}
}
.shoe2{
    width: 500px;
    height: 200px;
    bottom: 50px;
    left: -500px;
    position: absolute;
    background: url('../anim/nike2.png');
    animation-name: shoe2;
    animation-duration: 5s;
    animation-delay: 5s;
}
@keyframes shoe2{
    0%{left: -500px}
    20%, 50%{left: 50px;}
    100% {left: 600px}
}
.buy{
    font-size: 50px;
    font-weight: 900;
    background: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    height: 90px;
    text-align: center;
    padding: 10px 0;
    left: 256px;
    top: -90px;
    /*
    animation-name: buy;
    animation-duration: 5s;
    animation-delay: 11s;
    animation-fill-mode: forwards;
    */
    animation: buy 5s 11s forwards, pulse 1s 14s infinite;
}
@keyframes buy{
    0%{top: -90px}
   50%,100%{top: 155px;}
}
@keyframes pulse{
    0%{        
        background: rgba(0,0,0,0.4);
        color: white;
    }
   50%{
        background: white;;
        color: black;
    }
}